project/boot/
project/plugins/project/
project/project
project/target
bin
target
tmp
dist
/.idea
/*.iml
/*.yml
/out
/.idea_modules
.cache*
.classpath
.history
.lib/
.project
.scala_dependencies
.settings
.target
.worksheet
.DS_Store
